<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=@heroe.nombre%></title>
</head>
<body>
	<div>
		<h2><%=@heroe.nombre%></h2>
		<p><b>Nivel de Poder: </b><%=@heroe.nivelDePoder%></p>
	</div>
	<a href="/heroes/<%=@heroe.id%>/edit">Editar Heroe</a>
	<a href="/heroes/delete/<%=@heroe.id%>">Borrar Heroe</a>
</body>
</html>